@import url('https://warrayquipsome.github.io/Chillax/chillax.css');

/*removable addons*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");

/*Chillax Roots*/
:root{
  --themelightsettingsmodalbackground: transparent !important;
  --themedarksettingsmodalbackground: transparent !important;
/*background image*/ /*(replace the link to use)*/
  --background-image:var(--wallpaper);
/*bg dev suggestions*/
  --wallpaper: url('https://i.imgur.com/SStiaWv.jpeg');
/*modern background selection*/
  --modern-dark-bg: url('https://cdn.discordapp.com/attachments/879158025087234098/1015856640530071572/97EAEB95-54C2-4AF3-B70B-5E94A851409.jpeg?size=4096');
  --modern-light-bg: url('https://cdn.discordapp.com/attachments/879158025087234098/1015856640760754216/E98F8123-8B98-4961-90D7-DCC497A26E4.jpeg?size=4096');
}


/*window*/ /*dark mode*/
:root.theme-dark {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: #0009;
  --window-blur: 5px;
  --window-border-radius: 10px;
  --sidebar-colour: rgb(36, 36, 36);
}
/*window*/ /*light mode*/
:root.theme-light {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: rgba(255, 255, 255, 0.6);
  --window-blur: 5px;
  --window-border-radius: 10px;
  --sidebar-colour: rgb(209, 209, 209);
}


/*roots*/ /*both dark and light*/
:root {
  --user-name: "King";
  --edited-message: " EDITED ✎ ";
  --font-name: Poppins;
  --font-size: 13px;

  
/*glow radial status*/ /*must end in px*/
  --rs-small-spacing:0px;
  --rs-large-spacing:0px;
  --rs-medium-spacing:0px;
  --rs-small-width: 2.5px; 
  --rs-medium-width: 3.5px; 
  --rs-large-width: 4.5px; 
  --rs-avatar-shape:50%;
  --rs-online-color:#1df594;
  --rs-idle-color:#faa61a;
  --rs-dnd-color:#f04747;
  --rs-offline-color:#636b75;
  --rs-streaming-color:#643da7;
  --rs-invisible-color:#636b75;
  --rs-phone-visible:block;
  --rs-phone-color:var(--rs-online-color);


/*chillax colours rgb*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
  --accentcolor:	  35, 0, 79;	
/*chillax colours hex*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
  --accentcolorV2:     #23003b;
     
     
/*settings modal root*/
  --themelightsettingsmodalbackground: rgb(223, 223, 223);
  --themedarksettingsmodalbackground: rgb(51, 49, 53);
  --settingsmodalwidth: 960px;
  --settingsmodalheight: 80vh;	
}
     
/*discord transparency*//*roots*/ /*theme dark*/
  .theme-dark {
  --background-message-hover: rgba(255, 255, 255, 0.055);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #9d9d9d;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --background-accent: rgb(36, 36, 36);
  --activity-card-background: transparent;
  --deprecated-panel-background: transparent;
}
/*discord transparency*//*roots*/ /*theme light*/
  .theme-light {
  --background-message-hover: rgba(255, 255, 255, 0.055);
  --header-primary: rgb(0, 0, 0);
  --header-secondary: #3f3f3f;
  --text-normal: #303030;
  --text-muted: #333333;
  --channels-default: #585b5e;
  --interactive-normal: #3a3a3a;
  --interactive-hover: #333333;
  --interactive-active: rgb(0, 0, 0);
  --interactive-muted: #4f545c;
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --background-accent: rgb(27, 27, 27);
  --activity-card-background: transparent;
  --deprecated-panel-background: transparent;
}

/*friends grid banner colour*/
.theme-dark{
--FG-cards-banner-background: transparent!important;
}
.theme-light{
--FG-cards-banner-background: transparent!important;
} 




/*Permissions*/
/*
-You do not have the rights to use our theme name Chillax™ on other projects 
-You do not have the rights to remove our theme watermark in the theme
-You do not have the rights to change this theme author name to anyone
*/
     
/*credits*/
/*
========================= Chillax Squad =========================
 Wq                                       Author
 Demented_Elmo                            Co-Author
=================================================================
 Embeds                                   by Alexis WyvernZu
 Active Now CSS                           by Cedrick
 Memberlist until hover                   by Cedrick
 Hide User Buttons until Hover            by Commie Axolotl
 Center profile badge, avatar and name    by Commie Axolotl
 Account Details Grid                     by Dablulite
 Blurple recolour                         by DevilBro
 Emoji Replace                            by DevilBro
 Settings Icons                           by DevilBro
 Connection Issue Let Me Be               by Disease
 Radial Status                            by Gibbu
 About Me Clamp                           by ItMeSarah
 Better Jump to Present Button            by Lonk
 Better Mark As Read Button               by Lonk
 IconPack                                 by Lavender
 Discolored                               by Nyri4
 Better Spotify Control                   by Uri
=================================================================
*/
/*I really want to give a special shoutout to all of you for supporting me in this theme, thank you all.*/
/* Keep settings cog in place during hover animation */
.panels-3wFtMD>.container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
  width: 40px !important;
}

/* fix for emoji picker background when opening from message context menu */
.contentWrapper-2f9yME {
  background-color: #18191ba6;
  backdrop-filter: blur(5px);
}

/* Increase visibility of message highlight */
.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0)"] {
  --message-background-flash: rgba(var(--accentcolor), 0.2) !important;
}

/* Remove discriptions from activity status menu */
.description-1Dd2kv{
  display: none;
  width: 10px !important;
}

/* Fix grammar in message box */
.theme-dark .placeholder-1rCBhr::before {
  content: "Life is so much easier when you just take some time to chill" !important;
}

/* Dropdown background */
.option-Uc12mm {
  background-color: #1e1f22 !important;
}
.option-Uc12mm:hover {
  background-color: #333135 !important;
}

/* Role picker background */
.container-2kTWmC {
  background-color: #1e1f22
}

/* Un-hide unread divider with date */
.isUnread-3Lojb- {
  display: flex !important;
}

/* Hide date in unread divider */
.content-3spvdd {
  display: none;
}

/* Background in list of people who reacted to a message */
.container-KM8BU6, .reactors-1VXca7 {
  background-color: #181a1d;
}
.scroller-2GkvCq {
  background-color: #111214;
}

div[class="wrapper_edb6e0 avatar__7c789"] > svg > foreignObject > div {
  height: 26px;
  width: 29px;
}
/* Make notification badges match accent color */
.lowerBadge_669e7, .numberBadge__50328 {
  background-color: rgba(var(--accentcolor), 1) !important;
  box-shadow: 0px 0px 5px 3px rgba(var(--accentcolor), 1) !important;
}
/*Buttons*/
.floating-window-buttons .button.close-button svg , .floating-window-buttons  .button.close-button .fill{
  border-radius: 100px;
  max-width: 14px;
  max-height: 14px;
  background-color:#EC6A5E;}
  .floating-window-buttons .button.maximize-button svg, .floating-window-buttons .button.maximize-button .fill{
  width:1px;}
  html .floating-window-buttons:hover, html .floating-window-buttons .button.close-button:hover{background-color: #202225;}
  html .floating-window-buttons:hover, html .floating-window-buttons .button.maximize-button:hover{background-color: #202225;}
  html #bd-editor-controls button:hover, html #bd-editor-controls button .btn.btn-primary:hover{background-color: #202225;}
  .floating-window-buttons .button.maximize-button svg , .floating-window-buttons  .button.maximize-button .fill{
  border-radius: 100px;
  max-width: 14px;
  max-height: 14px;
  background-color:#61C554;}
  .button.close-button{order:-1;}
  .title{order:2;}
  html .floating-window-buttons .button{width:25px}
  html .floating-window-buttons .button.close-button{padding-left:5px}
  html .floating-window.resizable{border-radius: 12px;}
  [d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"]{opacity: 0;}
  .fill{opacity: 0;}
  .floating-window-buttons {order: -1;}
  /*Button Icons*/
  .floating-window-buttons .close-button>svg:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612765731545088/close.png');
  background-size: 6px;
  }
  .floating-window-buttons .maximize-button>svg:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612353070731274/expand.png');
  background-size: 6px
  }
  .theme-dark .sidebarRegion-1VBisG {
    background: transparent !important;
}
.theme-light .sidebarRegion-1VBisG {
    background: transparent !important;
}
/*Change Slash Command Menu background color*/
.theme-dark .autocomplete-3NRXG8 {
  background: #18191ba6 !important;
}
.theme-dark .categoryHeader-OpJ1Ly {
  background: #18191ba6 !important;
}

.theme-dark .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg {
  border: rgba(255, 255, 255, 0.400) !important;
}
/* Make unread DM's highlighted based on accent color */
.link__2e8e1:has(.highlighted__7bba7) {
  border-left: 2px solid rgba(var(--accentcolor), 0.8);
  background: linear-gradient(
    90deg,
    rgba(var(--accentcolor), 0.3),
    rgba(var(--accentcolor), 0.2),
    transparent
  );
}
/* Set the typing indicator inside the avatar to the color of their status */
div[class*="wrapper_edb6e0"][aria-label*="Streaming"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] g > circle {
  color: var(--rs-streaming-color);
}

div[class*="wrapper_edb6e0"][aria-label*="Do Not Disturb"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] g > circle {
color: var(--rs-dnd-color);
}

div[class*="wrapper_edb6e0"][aria-label*="Offline"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] g > circle {
color: var(--rs-offline-color);
}

div[class*="wrapper_edb6e0"][aria-label*="Idle"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] g > circle {
color: var(--rs-idle-color);
}

div[class*="wrapper_edb6e0"][aria-label*="Online"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] g > circle {
color: var(--rs-online-color);
}

.membersWrap-3NUR2t {height: 100%;}
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide super reaction button */
div[aria-label="Add Super Reaction"] {
  display: none;
}

/* Hide super reaction tab in emoji picker */
button[id="super-reaction-picker-tab"] {
  display: none;
}
/* Remove the phone indicator beside avatar */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
  visibility: hidden;
}
div[class="submenu_acf564 menu_dc52c6"] {
  backdrop-filter: blur(25px);
}

/* Optionally remove the separator from the submenu (also removes from other sub menus as well) */
/* Comment out to add the separator back to sub menus. */
.separator__18122 {
  display: none;
}

.description_ea6680 {
  display: none;
}
/* Color the status text in the status changer popout */

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--online"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-online-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--idle"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-idle-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--dnd"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-dnd-color);
}

div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--invisible"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-invisible-color);
}

/* status picker round border */

div[class="item__183e8 colorDefault__0b482 focused__27621"] {
  border-radius: 5px;
}

/* status picker text align center */

div.statusItem__72404 {
  align-content: center;
  grid-template-rows: none !important;
}
.theme-dark
  .groupStart-3Mlgv1.expanded-3lghlw
  .blockedSystemMessage-3FmE9n:hover {
  background: rgb(12, 76, 203);
  box-shadow: none;
}
.theme-dark .groupStart-3Mlgv1.expanded-3lghlw {
  background: rgb(1, 94, 255);
  border-radius: 3px;
  margin-left: 16px;
  margin-right: 13px;
}
