@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: rgb(199, 197, 197);
  background-image: url(/img/sneaker-pattern-in-variety-40vo337a9vlfmpza.jpg);
}

header {
  background-color: #333;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: white;
  transition: 0.4s;
}

.menu-icon.active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.header {
  display: flex;
}

.header a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.additional-links {
  display: flex;
  align-items: center;
}

.additional-links a {
  color: #420404;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links a.img:hover {
  background-color: transparent;
  color: white;
  transition: none;
}

.additional-links a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 50px;
  background-color: #0055ff;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.additional-links a.btn:hover {
  background-color: white;
  color: black;
}

.additional-links img {
  width: 40px;
}

.container {
    width: 500px;
    text-align: left;
    margin: 50px auto;
}

form {
    background: #fff;
    color: #333;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    text-decoration: underline;
    color: #0055ff;
}

p a:hover {
    color: #555;
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    z-index: 1;
  }

  .header.active {
    display: flex;
    flex-direction: column;
  }

  .header a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }

  .menu-icon.active + .header {
    display: flex;
  }
}