@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: rgb(199, 197, 197);
}

header {
  background-color: #333;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
}

nav {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links {
  display: flex;
  align-items: center;
}

.additional-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links a.img:hover {
  background-color: transparent;
  color: white;
  transition: none;
}

.additional-links a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 50px;
  background-color: #0055ff;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.additional-links a.btn:hover {
  background-color: white;
  color: black;
}

.additional-links img {
  width: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-around;
  margin-top: 50px;
}

.column {
  position: relative;
  box-sizing: border-box;
}

.column img,
.column .hover-image {
  width: 95%;
  height: 95%;
  display: block;
  margin: auto;
  border-radius: 2%;
}
.column img {
  transition: all 0.5s linear;
}
.column img:hover {
  filter: grayscale(1);
}
.column img:hover {
  transform: scale(1.02);
  border-radius: 5%;
}

.column .hover-image {
  display: none;
}

.column:hover .hover-image {
  display: block;
}

.column:hover .normal-image {
  display: none;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: white;
  padding: 20px;
  text-align: center;
  opacity: 0;
}

.column:hover .image-overlay {
  opacity: 1;
}

.image-text {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 20px;
}

.contact-info img {
  width: 100px;
  margin-right: 20px;
}

.contact-info ul {
  font-size: 18px;
  text-align: left;
}

.contact-info li b {
  font-weight: bold;
}

.dropdown-nav {
  position: absolute;
  top: 40px;
  right: 10px;
}
