@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: #333;
  padding: 18px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

header img {
  width: 100px;
}

nav {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links {
  display: flex;
  align-items: center;
}

.additional-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links a.img:hover {
  background-color: transparent;
  color: white;
  transition: none;
}

.additional-links a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 50px;
  background-color: #0055ff;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.additional-links a.btn:hover {
  background-color: white;
  color: black;
}

.additional-links img {
  width: 40px;
}

.sneaker-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.sneaker-card {
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px gray;
  margin: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
  margin-top: 40px;
}

.sneaker-card a {
  text-decoration: none;
  color: black;
}

.sneaker-card img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto 20px;
}

.sneaker-card:hover {
  transform: scale(1.1);
  z-index: 2;
  border-radius: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  color: #808080;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.contact-info img {
  width: 100px;
  margin-right: 20px;
}

.contact-info ul {
  font-size: 18px;
  text-align: left;
}

.contact-info li b {
  font-weight: bold;
}
