@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: rgb(199, 197, 197);
}

header {
  background-color: #333;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px;
}

nav {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.additional-links {
  display: flex;
  align-items: center;
}

.additional-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

/* Eliminar la regla de hover para la imagen del carrito */
.additional-links a.img:hover {
  background-color: transparent;
  color: white;
  transition: none;
}

.additional-links a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 50px;
  background-color: #0055ff;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.additional-links a.btn:hover {
  background-color: white;
  color: black;
}

.additional-links img {
  width: 40px;
}

select {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 36px;
  margin: 30px 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: black;
  color: white;
  padding: 10px 0;
  margin-top: 0;
}

.sneaker-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.sneaker-card {
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  width: calc(30% - 40px);
  text-align: center;
}

.sneaker-card a {
  text-decoration: none;
  color: black;
}

.sneaker-card img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto 15px;
}

.sneaker-card:hover {
  transform: scale(1.1);
  z-index: 2;
  border-radius: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 5px;
}

p {
  font-size: 22px;
  color: #808080;
  font-weight: bold;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  text-align: center;
}

.product-image img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

.cart-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.cart-button a {
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  overflow: hidden;
}

.cart-button img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  background-color: #000;
  height: 4px;
  width: 30px;
  display: block;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.dropdown-nav {
  position: absolute;
  top: 40px;
  right: 10px;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.column-right {
  flex: 1;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.small-image {
  max-width: 60%;
  height: auto;
}

.full-width-image {
  max-width: 100%;
  height: auto;
}

.full-width-title {
  background-color: #0a420d;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  margin: 0;
}

.column {
  flex: 1;
  width: 100%;
  margin-bottom: 20px;
}

.column img {
  display: block;
  margin: 0 auto;
}

.snkrz-garden {
  max-width: 670px;
  margin: 40px 0;
  margin-left: 15%;
}

.store-description-2 {
  max-width: 750px;
  margin: 40px 0;
  margin-left: 8%;
}

.small-image {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.small-image-2 {
  max-width: 100%;
  height: 500px;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.quienes-somos {
  width: 50%;
  height: 4%;
  background-color: #0a420d;
  border-radius: 60px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-color: #0a420d;
}

.que-vendemos {
  width: 50%;
  height: 4%;
  background-color: #070459;
  border-radius: 60px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-color: #070459;
}

.ubicacion {
  width: 50%;
  height: 4%;
  background-color: #420404;
  border-radius: 60px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  border-color: #420404;
  line-height: 1.5; /* Ajusté la altura de línea */
}
.ubicacion p {
  margin: 0;
  line-height: 1.5;
}